{% extends 'base.html' %}

{% block content %}
{% if object_list %}
	<div class="container">
	    <div class="row">
	    <h2>My Orders</h2>
	        <table class="responsive-table display dataTable" >
	        <thead>
	            <tr >
	            	<th>User</th>
	            	<th >Type</th>
	            	<th>Quantity</th>
	            	<th>Delivery Date</th>
	        	</tr>
	        </thead>
			<tbody>
		        {% for order in object_list %}
		        <a href="{% url 'detail' order.id%}">
		            <tr role="row" >
		                    <td>{{order.user.first_name}}></td>
		                    <td>{{order.stamp_type}}</td>
		                    <td>{{order.quantity}}</td>
		                    <td>{{order.delivery_date}}</td>
		                    <td>
		                    	<a href="{% url 'detail' order.id%}">
		                    		<button class="waves-effect waves-light btn">View Order</button>
	                    		</a>
	                    	</td>
		                    
		            </tr>
		        </a>
		        {% endfor %}
	        </tbody>
	     </table>
	    </div>
	</div>
{% else %}
<center>
	<div class="no_orders">
	<h4>You hanen't added any orders yet!!</h4>
	<h5><a href="{% url 'create_order' %}"><i class="material-icons">add</i>Add An Order</a></h5>
	</div>
</center>
{%endif%}
{% endblock %}