{% extends 'base.html' %}

{% block content %}
{% if object_list %}
	<div class="container">
	    <div class="row">
	        <div class="jumbotron">
	            <h1>Orders</h1>
	            {% for order in object_list %}
	            <a href="{% url 'detail' order.id%}">
	            <p>{{order.stamp_type}}&nbsp-{{order.user.first_name}}</p>
	            {% endfor %}
	            </a>
	        </div>
	    </div>
	</div>
{% else %}
<center>
	<div class="no_orders">
	<h4>You hanen't added any orders yet!!</h4>
	<h5><a href="{% url 'create_order' %}"><i class="material-icons">add</i>Add An Order</a></h5>
	</div>
</center>
{%endif%}
{% endblock %}