{% extends 'base.html' %}

{% block content %}
{% if object %}
	<div class="container">
	    <div class="row">
	        <div class="jumbotron">
	            <h1>Order Details</h1>
	        	<p>Ordering Person: {{object.user.first_name}} &nbsp{{object.user.last_name}} </p>
	            <p>{{object.get_size_display}}</p>
	            <p>{{object.type}}</p>
	            <p>{{object.font}}</p>
	            <p>{{object.color}}</p>
	            <p>{{object.allignment}}</p>
	            <p>{{object.rate}}</p>
	            <p>{{object.quantity}}</p>
	            <p>{{object.request}}</p>
	            <p>{{object.advance}}</p>
	            <p>{{object.delivery_date}}</p>
	       
	           
	        </div>
	    </div>
	</div>
{% else %}
	<h3>No data!!</h3>
{%endif%}
{% endblock %}